%title
  Minarun
%body
  %h1 A simple RSS Reader which filters duplications
  - @entries.each do |entry|
    %li.title= entry.title
    %li.published= entry.published
    %li.content= entry.content
    %p
      
      
