<!DOCTYPE html> <html>
  <head>
    <meta charset="UTF-8"> <title>External template</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  </head> <body>
    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">Pure</a>
        <ul>
          <li>test</li>
          <li>list2</li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="hero">
        <h1>Worked!</h1>
      </div>
    </div>
  </body>
</html>

